<!--<div class="card text-center" style="background: url(../../assets/images/slide_h3.jpg);background-size:cover;height: 500px">-->
<!--  <div class="card-header">-->

<!--    Featured-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Special title treatment</h5>-->
<!--      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--      <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->
<!--    <div class="card-footer text-muted">-->
<!--      2 days ago-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Footer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
<div class="video_footer loaded">
  <div class="container">
    <div class="video__content">
      <p class="img-title-cat page_title">
        <span>VIDEO LAPTOPAZ</span>
      </p>
      <div class="video-footer-left">
        <div class="video-left-content">

          <!----load ajax---->


          <div class="items-left" onclick="clickPlayVideo_thumb.call(this)" data-id="450"
               data-url="https://www.youtube.com/embed/2Ic4RWRE8-M" data-width="100%" data-height="400"><a
            href="javascript:void(0)" id="click-video-450" class="id-video">
            <div class="items--img"><img src="assets/img/120_450_121212.jpg"
                                         alt="Rinh Acer Nitro 5 - Tiger chỉ với giá 0 ĐỒNG">
              <div class="icon-video"><i class="fa fa-play" aria-hidden="true"></i></div>
            </div>
            <div class="items--title">Rinh Acer Nitro 5 - Tiger chỉ với giá 0 ĐỒNG<p>30-01-2023, 11:04
              am</p></div>
          </a></div>
          <div class="items-left" onclick="clickPlayVideo_thumb.call(this)" data-id="322"
               data-url="https://www.youtube.com/embed/460zfYKEZWc" data-width="100%" data-height="400"><a
            href="javascript:void(0)" id="click-video-322" class="id-video">
            <div class="items--img"><img src="assets/img/120_322_paner_laptopaz_sosanh_legion5pro_2020_2021.jpg"
                                         alt="(So Sánh) Lenovo Legion 5 Pro 2021 vs 2022 (AMD)">
              <div class="icon-video"><i class="fa fa-play" aria-hidden="true"></i></div>
            </div>
            <div class="items--title">(So Sánh) Lenovo Legion 5 Pro 2021 vs 2022 (AMD)<p>30-01-2023, 11:00
              am</p></div>
          </a></div>
          <div class="items-left" onclick="clickPlayVideo_thumb.call(this)" data-id="320"
               data-url="https://www.youtube.com/embed/YjLe5tXYk3g" data-width="100%" data-height="400"><a
            href="javascript:void(0)" id="click-video-320" class="id-video">
            <div class="items--img"><img src="assets/img/120_320_paner_laptopcho_tansv_legionpro_5i_2022_s.jpg"
                                         alt="Lenovo Legion 5i - Pro (2022) Thiết kế Khác Biệt">
              <div class="icon-video"><i class="fa fa-play" aria-hidden="true"></i></div>
            </div>
            <div class="items--title">Lenovo Legion 5i - Pro (2022) Thiết kế Khác Biệt<p>10-08-2022, 3:30
              pm</p></div>
          </a></div>
        </div>
        <div class="video-right-content">
          <div id="video-play" class="img-videos" onclick="clickPlayVideo();">
            <!----load ajax video--->
            <div class="main-video" data-url="https://www.youtube.com/embed/2Ic4RWRE8-M" data-width="100%"
                 data-height="400"><img src="assets/img/450_121212.jpg"
                                        alt="Rinh Acer Nitro 5 - Tiger chỉ với giá 0 ĐỒNG">
              <div class="overlay"></div>
              <div class="icon--play"><i class="fa fa-play" aria-hidden="true"></i></div>
            </div>
          </div>
          <div id="js-show-video" class="show-video">

          </div>
          <div class="title-bottom">
            <div class="summary">
              Đăng kí kênh Youtube của Laptopaz.vn tại đây!
            </div>
            <div class="btn-youtobe">
              <a href="https://www.youtube.com/channel/UCi_9bpEsaAiVTGaqshUnddg/featured?view_as=subscriber"
                 rel="nofollow" target="_blink" title="link youtube">Xem kênh Youtube</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="albums_laptopaz loaded">
  <div class="container">
    <div class="albums__page">
      <p class="img-title-cat page_title">
        <span>HÌNH ẢNH KHÁCH HÀNG VÀ CÁC HOẠT ĐỘNG CỦA CHÚNG TÔI</span>
      </p>
      <div class="albums_home">
        <!------load ajax album---->


        <div class="albums"><a href="assets/img/303_223345354.jpg" data-fancybox="gallery"
                               data-caption="Khách hàng đến với LaptopAZ" class="image"><img
          src="assets/img/303_223345354.jpg" alt="Khách hàng đến với LaptopAZ">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/86_batch_z2097477234580_cbe2c2b06d25eac211022fe0fa3cea32.jpg"
                               data-fancybox="gallery" data-caption="Khách hàng đến với LaptopAZ" class="image"><img
          src="assets/img/86_batch_z2097477234580_cbe2c2b06d25eac211022fe0fa3cea32.jpg"
          alt="Khách hàng đến với LaptopAZ">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/77_batch_4bf10d9c55a9a4f7fdb831.jpg" data-fancybox="gallery"
                               data-caption="Khách hành đến với của hàng laptopaz" class="image"><img
          src="assets/img/77_batch_4bf10d9c55a9a4f7fdb831.jpg" alt="Khách hành đến với của hàng laptopaz">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/76_batch_a3fbb566ec531d0d444232.jpg" data-fancybox="gallery"
                               data-caption="Khách hành đến với của hàng laptopaz" class="image"><img
          src="assets/img/76_batch_a3fbb566ec531d0d444232.jpg" alt="Khách hành đến với của hàng laptopaz">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/75_batch_c04cdcfd85c874962dd934.jpg" data-fancybox="gallery"
                               data-caption="Khách hành đến với của hàng laptopaz" class="image"><img
          src="assets/img/75_batch_c04cdcfd85c874962dd934.jpg" alt="Khách hành đến với của hàng laptopaz">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/83_81_batch_14c7d9307d058c5bd51428.jpg" data-fancybox="gallery"
                               data-caption="Khách hàng tin tưởng" class="image"><img
          src="assets/img/83_81_batch_14c7d9307d058c5bd51428.jpg" alt="Khách hàng tin tưởng">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/82_82_batch_246be59341a6b0f8e9b721.jpg" data-fancybox="gallery"
                               data-caption="Khách hàng tin tưởng" class="image"><img
          src="assets/img/82_82_batch_246be59341a6b0f8e9b721.jpg" alt="Khách hàng tin tưởng">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/78_batch_1af1830f273ad6648f2b24.jpg" data-fancybox="gallery"
                               data-caption="Khách hành đến với của hàng laptopaz" class="image"><img
          src="assets/img/78_batch_1af1830f273ad6648f2b24.jpg" alt="Khách hành đến với của hàng laptopaz">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
        <div class="albums"><a href="assets/img/91_batch_cc788cbd2888d9d6809920.jpg" data-fancybox="gallery"
                               data-caption="Khách hàng đến với LaptopAZ" class="image"><img
          src="assets/img/91_batch_cc788cbd2888d9d6809920.jpg" alt="Khách hàng đến với LaptopAZ">
          <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a></div>
      </div>
      <div class="btn-more"><a href="/albums-anh-laptopaz.html">Xem thêm <i class="fa fa-arrow-right"
                                                                            aria-hidden="true"></i></a></div>
    </div>

  </div>
</div>

<div class="container">
  <div class="pos_footer">
    <!----<div class="module tag-footer">
        <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3 my-1  title position-relative"><a href="javascript:;">Tìm kiếm nhiều</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/tim?q=&brand=3">Laptop dell chính hãng</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/tim?q=&brand=5">Laptop Asus chính hãng</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/tim?q=5577">Dell 5577</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/laptop-gaming.html">Laptop Gaming</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/linh-kien-laptop.html">Linh kiện chính hãng</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/tim?q=hp">Laptop Cũ HP</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/tim?q=thinkpad">ThinkPad</a></li>
            <li class="list-inline-item mr-3 my-1 "><a href="/tim?q=acer">Acer</a></li>
        </ul>
    </div>--->

    <div class="tintuc-footer">

      <div class="title d-flex align-items-center">
        <p class="main-title mb-0">
          <a href="https://laptopaz.vn/tin-tuc">TIN TỨC CÔNG NGHỆ MỚI</a>
        </p>
      </div>
      <div class="row">
        <div class="list-tintuc">


          <div class="item-tintuc">
            <a class="thumnail-tintuc mr-3" href="/sale-soc-giam-sau-mung-dai-le-304-15.html">
              <img class=" img-fluid" src="assets/img/476_laptop_az_30_4_1_5.jpg"
                   alt="SALE SỐC - GIẢM SÂU - MỪNG ĐẠI LỄ 30/4 - 1/5"
                   style="    width: 250px;height: 141px;">
            </a>
            <div class="media-body">
              <div class="info-tintuc">
                                    <span class="date-create">
                                31-03-2023, 4:59 pm
                            </span>
              </div>
              <div class="title-tintuc"><a href="/sale-soc-giam-sau-mung-dai-le-304-15.html">SALE SỐC -
                GIẢM SÂU - MỪNG ĐẠI LỄ 30/4 - 1/5</a>
              </div>
            </div>
          </div>


          <div class="item-tintuc">
            <a class="thumnail-tintuc mr-3"
               href="/intel-ra-mat-intel-arc-pro-a60-voi-tinh-nang-16-xe-core.html">
              <img class=" img-fluid"
                   src="assets/img/480_intel_arc_pro_a60_a60m_gpus_gigapixel_standard_scale_4_00x_custom_768x416.png"
                   alt="Intel lộ diện Intel Arc Pro A60 với 16 Xe-Core"
                   style="    width: 250px;height: 141px;">
            </a>
            <div class="media-body">
              <div class="info-tintuc">
                                    <span class="date-create">
                                09-04-2023, 4:45 pm
                            </span>
              </div>
              <div class="title-tintuc"><a
                href="/intel-ra-mat-intel-arc-pro-a60-voi-tinh-nang-16-xe-core.html">Intel lộ diện
                Intel Arc Pro A60 với 16 Xe-Core</a>
              </div>
            </div>
          </div>


          <div class="item-tintuc">
            <a class="thumnail-tintuc mr-3"
               href="/meta-ra-mat-mo-hinh-ai-moi-co-kha-nang-nhan-dien-cac-chi-tiet-trong-anh.html">
              <img class=" img-fluid" src="assets/img/479_meta_060423_1680854286913_1680854287225504803741.jpg"
                   alt="Meta ra mắt mô hình AI mới có khả năng nhận diện các chi tiết trong ảnh"
                   style="    width: 250px;height: 141px;">
            </a>
            <div class="media-body">
              <div class="info-tintuc">
                                    <span class="date-create">
                                07-04-2023, 5:59 pm
                            </span>
              </div>
              <div class="title-tintuc"><a
                href="/meta-ra-mat-mo-hinh-ai-moi-co-kha-nang-nhan-dien-cac-chi-tiet-trong-anh.html">Meta
                ra mắt mô hình AI mới có khả năng nhận diện các chi tiết trong ảnh</a>
              </div>
            </div>
          </div>


          <div class="item-tintuc">
            <a class="thumnail-tintuc mr-3"
               href="/y-vua-cam-chatgpt-va-my-co-the-la-quoc-gia-tiep-theo.html">
              <img class=" img-fluid" src="assets/img/478_gettyimages_1250102349.png"
                   alt="Ý vừa cấm ChatGPT và Mỹ có thể là quốc gia tiếp theo?"
                   style="    width: 250px;height: 141px;">
            </a>
            <div class="media-body">
              <div class="info-tintuc">
                                    <span class="date-create">
                                03-04-2023, 3:48 pm
                            </span>
              </div>
              <div class="title-tintuc"><a
                href="/y-vua-cam-chatgpt-va-my-co-the-la-quoc-gia-tiep-theo.html">Ý vừa cấm ChatGPT
                và Mỹ có thể là quốc gia tiếp theo?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-policy">
  <div class="container">
    <div class="policy d-flex align-items-center">
      <div class="media policy-item tn"
           onclick="javascript:location.href='https://laptopaz.vn/chinh-sach-van-chuyen.html'">
        <div class="icon-footer">
          <div class="animation-01">
            <i class='fas fa-shipping-fast'></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Giao hàng miễn phí toàn quốc</h5>
        </div>

      </div>
      <div class="media policy-item"
           onclick="javascript:location.href='https://laptopaz.vn/huong-dan-mua-hang-thanh-toan.html'">
        <div class="icon-footer">
          <div class="animation-02">
            <i class='fas fa-map-marked-alt'></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Mua hàng từ xa</h5>
        </div>
      </div>
      <div class="media policy-item"
           onclick="javascript:location.href='https://laptopaz.vn/chinh-sach-doi-tra-hang.html'">
        <div class="icon-footer">
          <div class="animation-03">
            <i class="fa fa-retweet" aria-hidden="true"></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Đổi trả hàng trong 15 ngày</h5>
        </div>
      </div>
      <div class="media policy-item"
           onclick="javascript:location.href='https://laptopaz.vn/huong-dan-mua-hang-tra-gop-tai-laptopaz.html'">
        <div class="icon-footer">
          <div class="animation-04">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Thanh toán linh hoạt: tiền mặt, visa/master, trả góp</h5>
        </div>
      </div>
      <div class="media policy-item tn-01" onclick="javascript:location.href='tel:0835 233 233'">
        <div class="icon-footer">
          <div class="animation-05">
            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Hỗ trợ suốt thời gian sử dụng<br>Hotline: <span
            style="color: red">0835 233 233</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>

  <div class="footer-link">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6>
                <B>CÔNG TY TNHH TIN HỌC CÔNG NGHỆ AZ VIỆT NAM</B>
              </H6>
              <li>Địa chỉ: Số 18, ngõ 121, Thái Hà, Đống Đa, Hà Nội</li>
              <li>Hotline: 0825 233 233 </li>
              <li>Email: hotrolaptopaz@gmail.com</li>
              <li class="share">
                <a href="https://www.facebook.com/laptopaz.vn" target="_blank"><i class='fab fa-facebook-f'></i></a>
                <a href="https://www.youtube.com/c/LAPTOPAZREVIEW" target="_blank"><i class='fab fa-youtube'></i></a>
                <a href="https://www.tiktok.com/@laptopaz" target="_blank"><i class='fab fa-tiktok'></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6>
                <B> THÔNG TIN CÔNG TY </B>
              </H6>
              <li><a href="/gioi-thieu">Giới thiệu công ty</a></li>
              <li><a href="javascript:;">Tuyển dụng</a></li>
              <li><a href="tel:0989624004">Gửi góp ý, khiếu nại</a></li>
              <li class="baohanh-item">
                <a href="http://www.online.gov.vn/Home/WebDetails/76577?AspxAutoDetectCookieSupport=1" class="thongbaobct"><img src="assets/img/bct.png" /></a>

              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6>
                <B> CHÍNH SÁCH CÔNG TY </B>
              </H6>
              <li>
                <a href="/chinh-sach-chat-luong.html">Chính sách chất lượng</a>
              </li>
              <li><a href="/chinh-sach-bao-tri-bao-hanh.html">Chính sách bảo hành</a></li>
              <li><a href="/chinh-sach-doi-tra-hang.html">Chính sách đổi trả</a></li>
              <li><a href="/chinh-sach-bao-mat-thong-tin.html">Chính sách bảo mật thông tin</a></li>
              <li><a href="/chinh-sach-van-chuyen.html">Chính sách vận chuyển</a></li>
              <li><a href="/huong-dan-mua-hang-thanh-toan.html">Hướng dẫn mua hàng- thanh toán</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="block block-social">
            <ul class="list-inline mb-25">
              <li class="support-item nd-01">
                <div class="items">
                  <div class="icon--phone">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                  </div>
                  <div class="content--support">
                    <span>HOTLINE</span>
                    <a href="tel:0825233233">
                      <span>0825 233 233</span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6>
                <B> HỆ THỐNG CỬA HÀNG LAPTOPAZ </B>
              </H6>
              <li><b>LaptopAZ cơ sở Thái Hà</b></li>
              <li>Số 18, ngõ 121, Thái Hà, Đống Đa, Hà Nội</li>
              <li><a href="tel:0825233233">Hotline : 0825 233 233</a></li>
              <li>Bán hàng: Từ 8h30 - 21h30</li>
              <li>Kỹ thuật: Từ 8h30 - 12h & 13h30 - 17h30</li>
              <li><a href="https://goo.gl/maps/oqb2Au69ihA2Ezmo7" target="_blank">Xem chỉ đường</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6>
                <B> HỆ THỐNG CỬA HÀNG LAPTOPAZ </B>
              </H6>
              <li><b>LaptopAZ cơ sở Hà Đông</b></li>
              <li>Số 56 Trần Phú, Hà Đông, Hà Nội</li>
              <li><a href="tel:0825233233">Hotline: 0825 233 233</a></li>
              <li>Bán hàng: Từ 8h30 - 21h30</li>
              <li>Kỹ thuật: Từ 8h30 - 12h & 13h30 - 17h30</li>
              <li><a href="https://goo.gl/maps/Lwnp2ZwvdFWNgksz9" target="_blank">Xem chỉ đường</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="h_line"></div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Công ty TNHH Tin học Công nghệ AZ Việt Nam. MST số 0108956087 cấp ngày 23/10/2019 @ Laptopaz. All Rights Reserved</p>
  </div>

  <style>
    .float-contact {
      position: fixed;
      bottom: 20px;
      left: 20px;
      z-index: 99999;
    }

    .chat-zalo {
      background: #8eb22b;
      border-radius: 20px;
      padding: 0 18px;
      color: white;
      display: block;
      margin-bottom: 6px;
    }

    .chat-face {
      background: #125c9e;
      border-radius: 20px;
      padding: 0 18px;
      color: white;
      display: block;
      margin-bottom: 6px;
    }

    .float-contact .hotline {
      background: #d11a59 !important;
      border-radius: 20px;
      padding: 0 18px;
      color: white;
      display: block;
      margin-bottom: 6px;
    }

    .chat-zalo a,
    .chat-face a,
    .hotline a {
      font-size: 15px;
      color: white;
      font-weight: 400;
      text-transform: none;
      line-height: 0;
    }

    @media (max-width: 549px) {
      .float-contact {
        display: none
      }
    }

    div#icon-fixed-right {
      position: fixed;
      z-index: 999;
      bottom: 93px;
      right: 25px;
    }

    #icon-fixed-right .icon_item {
      display: block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 10px;
      position: relative;
    }

    #icon-fixed-right .icon_item:nth-child(1) {
      background-image: linear-gradient(to top, #519700, #7ccc1f);
    }

    #icon-fixed-right .icon_item:nth-child(2) {
      background-image: linear-gradient(to top, #0e63de, #2ab4fd);
      margin-bottom: 0;
    }

    #icon-fixed-right .icon_item img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 37px;
    }
  </style>
</footer>
</body>
