
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Đăng ký</header>
      <form action="#" >
        <div class="field input-field">
          <input type="email" placeholder="Email" class="input" >
        </div>

        <div class="field input-field">
          <input type="password" placeholder="Tạo mật khẩu" class="password"  >

        </div>

        <div class="field input-field">
          <input type="password" placeholder="Xác nhận mật khẩu" class="password"  formControlName="password">

        </div>

        <div class="field button-field">
          <button>Đăng ký</button>
        </div>
      </form>

      <div class="form-link">
        <span>Bạn đã có một tài khoản chưa? <a href="#" class="link signup-link" routerLink="/login">Đăng nhập</a></span>
      </div>
    </div>
  </div>
</section>
</body>
</html>


